{% extends 'layout/layout.html.twig' %}
{% set Sobrenosotros = true %}
{% set proyectos = true %}
{% set contacto = true %}
{% block content %}
	<div id="header_container">
		<header id="header">
			<span id="logo"><img src="{{asset ('assets/images/logo_placeholder.png')}}" alt="logo"></span>
		</header>
	</div>

	<div id="slider_container">
		<div class="slider">
			<div><img src="{{asset ('assets/images/puerta.jpg')}}" alt="puerta"></div>
			<div><img src="{{asset ('assets/images/escaleras.jpg')}}" alt="escaleras"></div>
			<div><img src="{{asset ('assets/images/valla.jpg')}}" alt="valla"></div>
			<div><img src="{{asset ('assets/images/barra.jpg')}}" alt="barra"></div>
		</div>
	</div>

	<div id="aboutUs_container">
		<div id="aboutUs_wraper">
			<div class="aboutUs_info">
				<h1>¿QUIÉNES SOMOS?</h1>
				<br>
				<p>Brodeco Cerrajeros, S.L. se creo en el 2009, siguiendo los pasos de brodeco, C.B., creando en conjunto una experiencia en el sector de más de 30 años.</p>
				<br>
				<p>La actualización a esta nueva sociedad se debe a las nuevas tendecias de los mercados y metodos de obra, pero este cambio y la colaboración con otros sectores estrategicos del sector nos permiten consolidarnos en todos los proyectos en los que trabajamos.
				</p>
			</div>
			<div class="aboutUs_img">
				<img src="{{asset ('assets/images/operariofazendobarra.jpg')}}" alt="operio metalurgico">
			</div>
		</div>
	</div>

	<div id="project_container">
		<div class="project_info">
			<h1>PROYECTOS</h1>
			<br>
			<p>Los proyectos más recientes en los que hemos trabajado</p>
		</div>
		{% for proyecto in proyecto %}
		
			<div class="project_img">
					<div class="overlay">{{proyecto.nombre}}</div>
					<a href="{{path("proyectos", {"id":proyecto.id})}}"><img src="../assets/images/{{proyecto.imagen}}.jpg" alt="placeholder"></a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
